
* {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}
  body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.image-container img {
    display: block; 
    margin: 0 auto; 
  }




  nav {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    top:0;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  nav li {
    height: 90px;
  }
  nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
  }
  
  nav a:hover {
    background-color:#4C0C1D;
    color:#fff;
  }
  

  nav li:first-child {
    margin-right: auto;
    
  }
  nav li:first-child a {
    color: #fff;
    font-weight: 800;
  }
  nav li:first-child a:hover {
    background-color: #ddd;
    color: #000;
  }
  

  

  p {
    font-size:1em;
    line-height:1.4em;
  }
  
  
  
  .A {
 
    margin:50px 0px;
    padding:20px 30px;
  }
  
  .textbox-reg {
    max-width:60%;
  }
  
  
  








  
  .myDiv2 {
    background-color:4C0C1D;    
    text-align: center;
    padding: 5%;
    font-size: large;
    -webkit-text-fill-color: #fff;
  }






  

